@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Thin.otf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Light.otf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Regular.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Medium.otf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Semibold.otf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Bold.otf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Heavy.otf") format("truetype");
  font-weight: 800;
}

* {
  margin: 0;
  font-family: "SF Pro Rounded";
}
